<div class="pageloader is-info" [class.is-active]="validatingLogin">
    <span class="title">Carregando...</span>
</div>

<section class="hero is-fullheight is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-tablet">
                <div class="column is-6 is-5-widescreen is-4-fullhd">
                    <p class="subtitle is-6">Bem-vindo(a) ao,</p>
                    <h1 class="title">Vale dos Dragões</h1>

                    <div class="box">
                        <form [formGroup]="loginForm" [class.hasSubmmited]="hasSubmmited" (ngSubmit)="submitForm()" novalidate>
                            <div class="message is-small is-danger" *ngIf="(hasSubmmited && !loginForm.valid) || hasFailed">
                                <div class="message-header">Ops...</div>
                                <div class="message-body">
                                    <p>Não foi possível entrar no Vale.</p>
                                    <p>Por favor, verifique seus dados e tente novamente.</p>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="email" class="input is-medium is-info" placeholder="Qual é seu e-mail?" tabindex="1" formControlName="email">
                                    <span class="icon is-small is-left">
                                        <fa-icon icon="envelope" size="sm"></fa-icon>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="password" class="input is-medium is-info" placeholder="Digite sua senha" tabindex="2" formControlName="password">
                                    <span class="icon is-small is-left">
                                        <fa-icon icon="lock" size="sm"></fa-icon>
                                    </span>
                                </div>
                            </div>

                            <button type="submit" class="button is-medium is-primary is-fullwidth" tabindex="3" [class.is-loading]="isLoading" [disabled]="isLoading">Entrar no Vale</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
