<section class="hero is-fullheight is-info is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title">Vale dos Dragões</h3>

                <div class="box">
                    <form [formGroup]="loginForm" [class.hasSubmmited]="hasSubmmited" (ngSubmit)="submitForm()" novalidate>
                        <div class="message is-small is-danger" *ngIf="(hasSubmmited && !loginForm.valid) || hasFailed">
                            <div class="message-header">Ops...</div>
                            <div class="message-body">Não foi possível entrar no sistema. Por favor, verifique seus dados e tente novamente.</div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="email" class="input is-medium is-info" placeholder="Qual é seu e-mail?" tabindex="1" formControlName="email">
                                <span class="icon is-small is-left">
                                    <fa-icon icon="envelope" size="sm"></fa-icon>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="password" class="input is-medium is-info" placeholder="Digite sua senha" tabindex="2" formControlName="password">
                                <span class="icon is-small is-left">
                                    <fa-icon icon="lock" size="sm"></fa-icon>
                                </span>
                            </div>
                        </div>

                        <button type="submit" class="button is-medium is-primary is-fullwidth" tabindex="3" [class.is-loading]="isLoading" [disabled]="isLoading">Entrar no Vale</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
